.aboutWrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 74vh;
  flex-direction: column;
}

.aboutTextBlock {
  max-width: 389px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.aboutImage {
  position: absolute;
  top: 0;
  right: 0;
  height: 74vh;
  width: 70vw;
  opacity: 0.9;
}

.boxContent {
  max-width: 1154px;
  width: 100%; /* Меняем ширину на 100% для адаптивности */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;
  gap: 8px;
  color: white;
  position: relative;
  flex-wrap: wrap; /* Делаем контент оборачиваемым */
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 274px;
  justify-content: center;
  align-items: center;
}

.cardText {
  text-align: center;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 25px !important;
}

.videoBlock {
  height: auto; /* Изменяем на auto для адаптивности */
  width: 100%; /* Меняем на 100% для адаптивности */
  gap: 20px;
}

.aboutTextBlockDescroption {
  line-height: normal;
  letter-spacing: 0;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .aboutWrapper {
    height: auto; /* Уменьшаем высоту для мобильных устройств */
  }

  .aboutImage {
    width: 100vw; /* Изменяем на 100vw для мобильных */
    height: auto; /* Авто-координация при изменении пропорций */
  }

  .boxContent {
    flex-direction: column; /* Меняем направление на колонку */
    align-items: center; /* Центруем элементы */
    padding: 0 10px; /* Добавим отступы для мобильных */
  }

  .videoBlock {
    flex-direction: column; /* Меняем направление на колонку */
    height: auto; /* Убираем жесткую высоту */
  }

  .aboutTextBlock {
    max-width: 90%; /* Увеличиваем ширину для мобильных */
  }

  .cardText {
    font-size: 16px !important; /* Уменьшаем размер шрифта для мобильных */
  }
}